<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('View')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <div class="card card-block">
                <h2 class="card-title" th:text="${post.title}">Title</h2>
                <p class="card-text" th:text="${post.body}">Body</p>
                <a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/posts/{id}/delete(id=${post.id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>